.wrapper {
  position: relative;
  background-color: #050A39;

  .container {
    width: 1620px;
    margin: 0 auto;
    display: flex;

    .meteorite {
      position: absolute;
      top: 150px;
      left: 37px;
      z-index: 2;
    }

    .planet {
      position: absolute;
      left: 0;
      top: 0;
    }

    .text {
      width: 300px;
      margin: 15px 0;
    }

    .sharkBlock {
      display: flex;
      align-items: center;
      margin-left: 35px;

      .sharkBlockItem {
        z-index: 9;

        a {
          text-decoration: none;
        }
      }
    }

    .title {
      max-width: 780px;
      font-family: 'Syne';
      font-style: normal;
      font-weight: 700;
      font-size: 110px;
      line-height: 100.4%;
    }

    .meteoriteMiddle {
      position: absolute;
      top: 380px;
      left: 311px;
    }

    .meteoriteBottom {
      margin-top: 640px;
      margin-bottom: 65px;
    }
  }
}